html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.header{
    height: 14vh;
    background-color: rgb(255, 251, 0);
  
}
.headerPart{
    height: 7vh;
    text-align: center;
}
#searchBar{
    height : 2.5vh;
    margin-top: 2vh;
}

.navBar{
    border-style: solid;
    line-height: 6vh;
    
}
.navOptions{
    vertical-align: middle;
    line-height: normal;
    margin-left: 2vw;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.navOptions:hover{
    padding : 0.1%;
    transition-property: padding;
    transition-duration: 0.5s;
    background-color: rgb(255, 255, 255);;
}
.content{
    height: 86vh;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.benefits{
    height: 15vh;
    background-color: rgb(197, 191, 191);
    width: 80vw;
    margin-top: 5vh;
    display: inline-block;
    border-radius: 1vw;
}
.offer, .firstOffer{
    height: 15vh;
    width: 20vw; 
    float: left; 
    text-align: left;
}
.firstOffer{
    border-right: solid black 2px;
}
.offerTitle{
    margin-top: 3vh;
    font-size: 3.5vh;
}
.offerTitle, .subTitle{
  margin-left: 3vw;
}
.subTitle{
    margin-top: 1.5vh;
}

.contents{
    width: 80.2vw;
    margin-top: 5vh;
    display: inline-block;
}
.marketItem{
    background-color: white;
    height: 260px;
    width: 15vw;
    float: left ;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    overflow: hidden;
    
}

.marketItem:hover{
    height: 330px;
    transition-duration: 0.5s;
    transition-timing-function: linear ;
}
.marketItem img {
    border-bottom: solid black 1px;
}
.titlePrice{
    font-size: 35px;
}
.marketItem:hover .titlePrice{
    font-size: 15px;
    text-decoration: line-through;
}
.marketItem:hover .titlePrice{
    font-size: 15px;
    text-decoration: line-through;
    color: red
}
.marketItem:hover .subtitlePrice{
    font-size: 30px;
    color: green;
}
.marketItem:hover .titleItem{
    font-size: 16px;
}
 .titleItem, .subtitlePrice{
    padding-top: 1vh;
}

